.photo-grid {
  max-width: 92.5%;
  margin: 92px auto 0;
}

@media screen and (max-width: 1220px) {
  .photo-grid {
    max-width: 928px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 984px) {
  .photo-grid {
    max-width: 720px;
    width: 94%;
    margin-top: 64px;
  }
}

@media screen and (max-width: 325px) {
  .photo-grid {
    max-width: 288px;
  }
}