.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 1210px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .header {
    width: 94%;
  }
}

@media screen and (max-width: 325px) {
  .header {
    max-width: 288px;
  }
}