.place {
  margin: 0 auto 80px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 620px) {
  .place {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 29px;
  }
  
  .place:last-of-type {
    margin-bottom: 66px;
  }
}
